# Ignore node_modules folders
node_modules/
client/node_modules/
server/node_modules/

# Ignore build/dist output folders
dist/
client/dist/

# Ignore log files
*.log

# Ignore environment variable files
.env
